.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-dark.jpg');

    height: 550px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}